<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--Max file size upload 10mb-->
    <httpRuntime targetFramework="4.5.2" maxRequestLength="10000"/>
    
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
  </system.web>

  <appSettings>
    <add key="CMSUseTrailingSlashOnlyForExtensionLess" value="true" />

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
   
    <add key="AUTH0_CID" value="fXqMFIGFPGXAPLNm6ltd0NsGV6fWpvDM" />
    <add key="AUTH0_CS" value="HHnBRmKTpK99fx4RYIVnxiJFQourT1RkbWnrs0jIUP1vdYrgWZ1104Tew7cb5-wp" />
    <add key="AUTH0_PORT" value="https://membermeauth.eu.auth0.com/oauth/token" />
    
    <add key="CLOUDINARY_API_KEY" value="836473758946851" />
    <add key="CLOUDINARY_API_NAME" value="hlqysoka2" />
    <add key="CLOUDINARY_API_SECRET" value="HvbKatij3YP8zxk_1I7DOY5m8mA" />
    

    <add key="API_PORT" value="https://restapicust.herokuapp.com/api" />
    <add key="LOCAL_PORT" value="http://localhost:8100/api" />

    <!-- <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" /> -->
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
