


.navbar-brand {
    float: right;
}


.padRight65 {
    padding-right: 65px;
}

.MarginTop35 {
    margin-top: 35px;
}

.MarginTop60 {
    margin-top: 60px;
}

.iconWidth {
    min-width: 20px;
}

.textFontFamilyBody {
    font-family: Trebuchet MS;
}

.textFontFamilyHeader {
    font-family: Century Schoolbook;
}


.ModalHeadColor {
    background-color: #e6f4f9;
    color: #5f667d;
}

.customerHeader {
    color: steelblue;
}

.whiteColor {
    color: #9d9d9d;
}

.alignCenter {
    margin-left: auto;
    margin-right: auto;
}

.maxWidthContainer {
    width: 200px;
}

.floatLeft {
    float: left;
}


.boxArea {
    display: block;
    width: 100%;
    height: 100%;
}


.BtnInvis {
    background-color: transparent;
    border: none;
}


.fa-cogs:hover {
    color: #e48948;
}


.BoxHeight {
    height: 42px;
}

.DropDownBtns {
    background-color: transparent;
    border: none;
    font-style: italic;
    font-weight: 900;
}

    .DropDownBtns:hover {
        background-color: #e48948;
        color: whitesmoke;
    }


.RoundTop {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.RoundBottom {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}



/*ICON CSS Here*/
.has-success .form-control-feedback {
    margin-top: 5px;
}

.has-error .form-control-feedback {
    margin-top: 5px;
}

/*Map CSS Here*/
#map {
    height: 500px;
    width: 50%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}
