<ion-view title="Please sign in">
  <ion-content class="padding content-stable" overflow-scroll="false">
        <img class="logo" ng-src={{logo}}>
    <div class="list login">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="user.email" ng-change="validateEmail(user.email)" ng-model-options='{ debounce: 500 }'>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
            <p ng-show="emailVal">* Please enter a valid email address</p>
        </div>
        <div class="padding">
            <button type="button" class="button button-full button-positive" ng-disabled="loginButton" ng-click="login(user)">Login</button>
        </div>
  </ion-content>
</ion-view>