<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Set New Password</h1>
    </ion-header-bar>
    <ion-content class="padding" overflow-scroll="false">
    <div class="list">
      <label class="item item-input">
        <input type="password" placeholder="Enter New Password" ng-model="check.pass">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Re-enter New Password" ng-model="check.repass">
      </label>
    </div>
    <button class="button button-full button-balanced" ng-click="changePass()">
      Save
    </button>
    <button class="button button-full button-stable" ng-click="closeModal()">
      Cancel
    </button>
    <span ng-show="IsMatch">{{message}}</span>
  </ion-content>
  </ion-modal-view>