<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Profile</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        <ion-item>Name: {{profile.name}} </ion-item>
        <ion-item>DOB: {{profile.dob}} </ion-item>
        <ion-item>Emergency Contact: {{profile.iceName}} </ion-item>
        <ion-item>Emergency Contact No.: {{profile.iceNum}} </ion-item>
        <ion-item>Join date: {{profile.joined}} </ion-item>
        <ion-item>Email: {{profile.email}} </ion-item>
        <ion-item>Address: {{profile.address}} </ion-item>
        <ion-item>Phone No.: {{profile.phone}} </ion-item>
        

      </div>
    </div>

    <qr text="qrcode" size="size"></qr>
    
            
  </ion-content>
</ion-view>