<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Profile</h1>
  </ion-header-bar>
  <ion-content class="padding content-profile">
    <div class="card">
      <div class="item item-text-wrap">
        <ion-item class="item-image"><img ng-src="{{profile.imgUrl}}"></ion-item>
        <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
          <ion-item>
            <h2 class="profile-list">Name</h2>
            <h3>{{profile.name}}</h3>
             <ion-option-button class="button-info" ng-click="edit()">
                Edit
              </ion-option-button>
              <div ng-show="toggle">
                    <input type="text" ng-placeholder="Enter new details" ng-model="profile.name"></input>
                    <button ng-click="submit()">Submit</button>
                    <button ng-click="cancel()">Cancel</button>
                    </div>
          </ion-item>

          <ion-item>
            <h2 class="profile-list">Date of Birth</h2>
            <h3>{{dob}}</h3>
          </ion-item>

          <ion-item>
            <h2 class="profile-list">Emergency Contact</h2>
            <h3>{{profile.iceName}}</h3>
            <ion-option-button class="button-info" ng-click="edit()">
                Edit
              </ion-option-button>
              <div ng-show="toggle">
                    <input type="text" ng-model="profile.iceName" placeholder="Enter new details" ></input>
                    <button ng-click="submit()">Submit</button>
                    <button ng-click="cancel()">Cancel</button>
                    </div>
          </ion-item>

          <ion-item>
            <h2 class="profile-list">Emergency Contact No.</h2>
            <h3>{{tempProfile.icePhone}}</h3>
            <ion-option-button class="button-info" ng-click="edit()">
                Edit
              </ion-option-button>
              <div ng-show="toggle">
                    <input type="number" ng-model="tempProfile.icePhone" placeholder="Enter new details" ></input>
                    <button ng-click="submit()">Submit</button>
                    <button ng-click="cancel()">Cancel</button>
                    </div>
          </ion-item>

          <ion-item>
            <h2 class="profile-list">Join Date</h2>
            <h3>{{joined}}</h3>
          </ion-item>

          <ion-item>
            <h2 class="profile-list">Email</h2>
            <h3>{{profile.email}}</h3>
          </ion-item>

          <ion-item>
            <h2 class="profile-list">Address</h2>
            <h3>{{profile.address}}</h3>
            <ion-option-button class="button-info" ng-click="edit()">
                Edit
              </ion-option-button>
              <div ng-show="toggle">
                    <input type="text" ng-model="profile.address" placeholder="Enter new details" ></input>
                    <button ng-click="submit()">Submit</button>
                    <button ng-click="cancel()">Cancel</button>
                    </div>
          </ion-item>

          <ion-item>
            <h2 class="profile-list">Phone No.</h2>
            <h3>{{tempProfile.phone}}</h3>
            <ion-option-button class="button-info" ng-click="edit()">
                Edit
              </ion-option-button>
              <div ng-show="toggle">
                    <input type="number" ng-model="tempProfile.phone" placeholder="Enter new details"></input>
                    <button ng-click="submit()">Submit</button>
                    <button ng-click="cancel()">Cancel</button>
                    </div>
          </ion-item>

          <ion-item>
            <h2 class="profile-list">No. of Visits</h2>
            <h3>{{profile.visited}}</h3>
          </ion-item>

          <ion-item ng-hide="!membership">
            <h2 class="profile-list">Membership End Date</h2>
            <h3>{{membership}}</h3>
          </ion-item>

          <ion-item ng-show="profile.guardianName!='null'">
            <h2 class="profile-list">Guardian Name</h2>
            <h3>{{profile.guardianName}}</h3>
          </ion-item>

          <ion-item ng-show="profile.guardianNum!='null'">
            <h2 class="profile-list">Guardian Number</h2>
            <h3>{{profile.guardianNum}}</h3>
          </ion-item>

          <ion-item><qr text="qrcode" class="align-qr" size=size></qr> </ion-item>
        </ion-list>

      </div>
    </div>

      

            
  </ion-content>
</ion-view>