<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">SOS</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="reload()">
  </ion-refresher>
    <div id="map" data-tap-disabled="true" ng-show="toggle">
    </div>

    <div class="card" ng-hide="toggle">
        <h3>Ensure internet and GPS are enabled and pull to refresh</h3>
      </div>
    
    <div class="card">
      <ion-list>

        <ion-item>
        <h2>Please choose your emergency type</h2>
        <select ng-model="sos.status">
          <option>Medical Emergency</option>
          <option>Other</option>
        </select>
        </ion-item>
      </ion-list>
    </div>
    

      <div class="card message">
          <div class="item item-input">
            <input type="text" placeholder="Message (Optional)" ng-model="sos.message">
          </div>
      </div>

      <button class="button button-full button-assertive" ng-click="submit(sos)">
        Send SOS
      </button>
  </ion-content>
  
</ion-view>
